@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;   
}
body{
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #0D1832;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0D1832;
    border-radius: 10px;
  }
  
  
  