@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;   
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0.0);;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.0);;
    border-radius: 10px;
    
  }
  
  
  