@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;   
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #0D1832;
    width: 0.2rem;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #F9D62B;
    border-radius: 10px;
    
  }
  
  
  